body{
  background: linear-gradient(
    to bottom right,  
    #2C3E50, #FD746C, 
    #FF8235, #ffff1c, 
    #92FE9D, #00C9FF, 
    #a044ff, #e73827);
  background-repeat: no-repeat;
  background-size: 1000% 1000%;
  animation: gradient 240s ease infinite;
}

#note{
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  background: #585858;
  color: #C5D8C5;
  font-family: 'Fjalla One', sans-serif;
  font-size:20px;
  letter-spacing:2px;
  padding:10px;
  text-align:center;
}

#calculator {
  width : 485px;
  height: 570px;
  margin: 0 auto;
  margin-top:200px;
  background: #585858;
  padding-top:3px;
  border-radius: 10px;
}

#displayArea{
  width: 90%;
  height: 60px;
  background: #C5D8C5;
  border: 3px solid rgb(161, 183, 161);
  margin: 15px;
  color: #000;
  text-align: right;
  font-family: 'Fjalla One', sans-serif;
  font-size: 50px;
  padding-left:15px;
  /*font-weight: bold;*/
}

#displayAreaExpr{
  width: 90%;
  height: 20px;
  background: #C5D8C5;
  border: 3px solid rgb(161, 183, 161);
  margin: 15px;
  margin-bottom: -15px;
  color: #000;
  font-size: 20px;
  padding-left:15px;
  font-weight: bold;
}

#userInputArea{
  padding:15px;
  background: rgba(0,0,0,0.3);
}

.btn{
  width: 100px;
  height: 70px;
  margin:5px;
  border: 2px solid lightgrey;
  border-radius: 10px;
  font-weight: bold;
  font-size: 50px;
  color: grey;
  background: #EDEDED;
  -moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #C5D8C5;
}

.btn:hover{
  color: orange;
  background: #585858;
  -moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 3px 1px 1px #C5D8C5;

}

#calculate{
  background: #FCB456;
  color: grey;
  border: none;
}

/*removes the outline after clicking a button*/
*:focus{
  outline: none;
}
